body {
    font-family: sans-serif;
    margin-top: 45px;
    margin-left: 45px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width: 200px;
}

